<h1 class="mb-4">Angle-bracket invocation</h1>
<div class="flex flex-row flex-wrap mb-8">
  <FeatureTab
    class="bg-blue-light"
    @label="Variant"
    @text="Invocation Style" />
  <FeatureTab
    class="bg-teal-light"
    @label="Available"
    @text=">= 3.4" />
  <FeatureTab
    class="bg-purple-light"
    @label="HTML Semantics"
    @text="Both" />
  <FeatureTab
    class="bg-red-light"
    @label="Coolness Factor"
    @text={{this.coolness.factor.angleBracket}} />
</div>

<h2 class="mb-4">Code</h2>
<CodePanel
  @blocks={{array
    (hash id="component" label="Component" snippet="star-rating.js")
    (hash id="template" label="Template" snippet="star-rating.hbs")
    (hash id="call" label="Call" snippet="star-rating-call-angle-bracket.hbs")
    (hash id="html" label="HTML" snippet="star-rating-classic.html")
  }}
/>

<h2 class="mb-4">Result</h2>
<StarRating
  @rating={{this.model.rating}}
  @onClick={{action (mut this.model.rating)}}
/>
{{input
  type="number"
  class="p-2"
  value=this.model.rating}}